body {
  background-color: #eeeeee;
  font-size: 20px;
}

p {
  font-size:
}

.form {
  margin: 20px auto;
  border: 1px solid #888888;
  width: 750px;
}

.card-content p{
  font-size: .8rem;
}

.card-content img {
  max-height: 100px;
}

.card-action button {
  background-color: #3399FF !important;
}

.navbar {
  background-color: #3399FF;
  box-shadow: 0px 2px 2px #777777;
}

.jumbotron {
  height: 300px;
  width: 300px;
}
.container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 5px 5px #888888;
  width: 90% !important;
}

.button {
  background-color: #3399FF !important;
}


